/* 
    Document   : timetable
    Created on : 10-Feb-2015, 13:54:45
    Author     : jd11
    Description:
        Purpose of the stylesheet follows.
*/



table {
    border-collapse: collapse;
    width: 100%;
    font: 62.5%/1.3 normal Helvetica, sans-serif;
}

td, th { 
	
   text-align: center; 
   border: 1px solid #ddd; 
   padding:.5em 5px;
   font-size: 1.2em;
   background-color:white;
}
  th { 
    font-weight:inherit;
    padding: 5px 0;
    color: #666;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-bottom: 1px solid #bbbbbb;
    background: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #f7f7f7,  #f1f1f1);
  } 
 
  td{
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
    background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);  
   }
   
.time td:hover{
    color:black;
    background: #888888;
    background: -webkit-gradient(linear, left top, left bottom, from(#888888 ), to(#909090 ));
    background: -moz-linear-gradient(top,  #888888 ,  #909090 );  
    font-weight:lighter;
   }
  
caption {
    background: #383838;
    color: #e0e0e0;
    font-weight:bolder;
    font-size:1.5em;
    padding: 10px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 0 #484848, 0 -1px 5px rgba(0,0,0,0.3);
    border: 1px solid #373737;
    z-index: -99;
 }



tr td section span{
	font-size: 1.5em;
}

#secondSpan{
	font-size: 1.3em;
}

.add_meeting, .add_friend {
    font-weight:lighter;

    color:black;
}

.divid{
    background-image:url(../images/white5.png);
    padding:20px;
    margin-bottom: 1%;

        border-left:#484848 1px solid;
    border-left:#bbbbbb 1px solid;

}

.divid2, .divid3 {
    background-image:url(../images/white5.png);
  
    border-left:#484848 1px solid;
    border-left:#bbbbbb 1px solid;

    padding:20px;
}

.notifications{
    margin-top:-0.8%;
    font-weight:lighter;
}
  
  /* queries */
@media screen and (max-width: 520px){
   
  html:not(.emp-sales) .emp-sales th, 
  html:not(.emp-sales) .emp-sales td {
    font-size: 0;
    padding: 0;
    content: "";
    height: 7px;
  }
  html:not(.emp-sales) table {
    position: relative; 
    overflow: hidden;
  }
  html:not(.emp-sales) table:before {
    content: "Table: Tap to View";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    font-family: Helvetica, sans-serif;
 
  }
 html.emp-sales table:before {
    content: "";
    display: block;
    background: #333;
    padding: 10px;
  }
  
  html.emp-sales table:before{
    content: "Back";
    position: absolute;
    top: 0;
    left: 15px;
    padding: .5em 1em;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
  }
   /* around here we could use the HTML class to hide all other content on the page aside from the table */
  html.emp-sales p, html.emp-sales h1 {
    display: none; 
  }
 
 }